* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$baseColor: #2dbe60;
$baseHover: #1be762;
$bgColor: #455b86;
$leftSideWidth: 220px;
$contentColor: #384d78;

html {
    font-size: 12px;
    font-family: "regularttf" !important;

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }

    @media screen and (max-width: 1200px) {
        font-size: 15px;
    }

    @media screen and (max-width: 900px) {
        font-size: 13px;
    }

    @media screen and (max-width: 500px) {
        font-size: 12px;
    }
}

.container-auto {
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        width: 1140px;
    }

    @media screen and (max-width: 1199px) {
        width: 100%;
        padding: 0 1.5rem;
    }

    @media screen and (min-width: 1466px) {
        width: 1300px;
    }

    @media screen and (max-width: 500px) {
        width: 100%;
        padding: 0 1rem;
    }
}

.normal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
    }
}

.mb24 {
    margin-bottom: 24px;
}

.mb12 {
    margin-bottom: 12px !important;
}

.mt40 {
    margin-top: 40px;
}

.mt30 {
    margin-top: 30px;
}

.mt24 {
    margin-top: 24px;
}

.mt16 {
    margin-top: 16px;
}

@keyframes bounceln {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex_nowrap {
    flex-wrap: nowrap;
}

.nowrap {
    white-space: nowrap;
}

.flex_align_center {
    align-items: center;
}

.flex_jc_sb {
    justify-content: space-between;
}

.flex_jc_sb_center {
    justify-content: center;
}

.flex_jc_sb_end {
    justify-content: flex-end;
}

.pointer {
    cursor: pointer;
}

.normal-btn {
    padding: 8px 20px;
    border-radius: 3px;
  
    color: #fff;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $baseColor;
    cursor: pointer;
    transition: all 0.5s;
    background: $baseColor;
    &:hover {
        background: transparent;
        color: $baseColor;
        border: 1px solid $baseColor;
    }
}

.el-button--primary {
    border-color: $baseColor;
    background-color: $baseColor;
}

.baseColor {
    color: $baseColor !important;
}

.elTag {
    min-width: 80px;
    text-align: center;
}

.formStyle {
    max-height: 450px;
    overflow: auto;
    padding-right: 10px;
    @media screen and (min-height: 800px) {
        max-height: 650px;
    }
}

.moreDetail {
    display: grid;
    column-gap: 12px;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr;
    }
}

.contentBg {
    background: $contentColor;
}

.el-menu-item {
    color: rgba(255, 255, 255, 0.7);
    background: #20304c;

    &:hover {
        color: #fff;
        background: rgba($color: #20304c, $alpha: 0.8);

        .icon {
            filter: grayscale(100%) brightness(200%)
        }
    }

    &.is-active {
        background: rgba($color: #20304c, $alpha: 0.8);
        color: #fff;
        font-weight: bold;

        .icon {
            filter: grayscale(100%) brightness(200%)
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 4px;
            height: 50px;
            background-color: #2dbe60;
            transition: all 0.5s;
        }
    }
}

.is-active {
    .el-submenu__title {
        overflow: hidden;
        color: #fff;
        font-weight: bold;

        .icon {
            transform: translateY(-100px);
            filter: drop-shadow(0 100px #fff);
        }
    }

    .el-icon-arrow-down {
        &::before {
            color: #fff;
        }
    }

}

.el-icon-arrow-down {
    &::before {
        font-weight: 800;
        color: #606266;
    }
}

.el-submenu__title {
    color: rgba(255, 255, 255, 0.7);
}

.el-table .el-table__header-wrapper,
.el-table__fixed-right {
    background-color: $contentColor !important;

    thead {
        background-color: $contentColor !important;

        tr {
            background-color: $contentColor !important;

            .cell {
                font-weight: 600;
            }

            th {
                background-color: $contentColor !important;

            }
        }
    }
}

.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
    border: none;
}

.el-loading-mask {
    background-color: rgba($color: $bgColor, $alpha: 0.8);
}

.tables {
    .el-table__row {
        background: $contentColor;

        &:hover .el-table__cell {
            background: rgba(0, 0, 0, 0.075) !important;
        }
    }

    .el-table__body tr.hover-row.current-row>td.el-table__cell,
    .el-table__body tr.hover-row.el-table__row--striped.current-row>td.el-table__cell,
    .el-table__body tr.hover-row.el-table__row--striped>td.el-table__cell,
    .el-table__body tr.hover-row>td.el-table__cell {
        background: rgba(0, 0, 0, 0.075) !important;
    }

    .el-table--fit,
    .el-table__cell,
    tr {
        .cell {
            font-size: 0.8rem;
            color: #fff;
            font-weight: 400;
        }

        .el-table__row {
            .cell {
                font-size: 14px;
                color: #fff;
            }
        }
    }

}
.el-dialog__wrapper {
    display: flex;
    align-items: center;
    .el-dialog__title {
        font-size: 15px;
    }
}
.el-form--label-top .el-form-item__label {
    padding: 0;
}
.el-dialog__body {
    padding: 1.5rem 1rem;
}
.el-dialog {
    padding: 0 2rem;
    margin-top: 0!important;
    @media screen and (max-width: 800px) {
        width: 100%;
        max-width: 100%;
        padding: 0 8px;
    }
    .el-dialog__footer {
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
        .el-button {
            padding: 8px 18px;
            font-size: 14px;
        }
        .qx {
            margin-right: 12px;
        }
        .qd {
            border: 1px solid $baseColor;
            cursor: pointer;
            transition: all 0.5s;
            background: $baseColor;
            color: #fff;
            &:hover {
                background: transparent;
                color: $baseColor;
                border: 1px solid $baseColor;
            }
        }

    }
    .el-dialog__header,
    .el-dialog__body {
        border-bottom: 1px solid var(--unnamed, #f5f5f5);
        padding: 1.3rem 0!important;
    }
}

.mytab {
    margin-top: 0.6rem;
}

.el-tabs__nav-wrap {
    background: $contentColor;
    padding: 1rem;
    border-radius: 0.5rem;
}

.el-tabs__nav-wrap::after {
    content: none;
}

.el-tabs__item.is-active {
    color: #fff;
}

.el-tabs__active-bar {
    background-color: #fff;
}

.el-tabs__item {
    color: rgba($color: #fff, $alpha: 0.7);
    font-size: 1.2rem;
    line-height: 1.8rem;

    &:hover {
        color: #fff;
    }
}

.el-button.primary {
    padding: 11px 20px;
    font-weight: 400;

    i {
        margin-right: 4px;
    }

    img {
        margin-right: 2px;
        height: 24px;
        width: 24px;
        vertical-align: middle;
    }

    &.hui {
        background-color: #F4F4F4;
    }
}

.el-form-item {
    margin-bottom: 20px;
}

.content_shadow {
    background: $contentColor;
    border-radius: 4px;
}

.loading {
    position: relative;
    opacity: .4 !important;

    &::after {
        position: absolute;

        border: 2px solid #f3f3f3;
        border-top: 2px solid #555;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        display: inline-block;
        animation: spin 1s linear infinite;
        transform-origin: center;
        content: ''
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html::-webkit-scrollbar-track-piece {
    background: #d3dce6;
}

html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-thumb {
    background: $bgColor;

}

form::-webkit-scrollbar-track-piece {
    background: #d3dce6;
}

form::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

form::-webkit-scrollbar-thumb {
    background: $bgColor;

}

div::-webkit-scrollbar-track-piece {
    background: #d3dce6;
}

div::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

div::-webkit-scrollbar-thumb {
    background: $bgColor;

}

ul::-webkit-scrollbar-track-piece {
    background: #d3dce6;
}

ul::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

ul::-webkit-scrollbar-thumb {
    background: $bgColor;

}

.elPagination {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    background: $contentColor;
}

.el-pagination__total,
.el-pagination__jump {
    color: #fff;
}

.money-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 8px;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .money-left {
        background-color: $contentColor;
        border-radius: 0.6rem;
        padding: 2rem;

        .form-item {
            margin-bottom: 1.2rem;
            color: #fff;

            .label {
                margin-bottom: 0.5rem;
            }

            .input-with-select {
                padding: 0;
                display: flex;

                ::v-deep .input-amount .el-input__inner {
                    border: none;
                    height: 3rem;
                    background: #fff;
                    border-radius: 4px 0 0 4px;
                }

                .input-transaction {
                    flex: 1;
                }

                ::v-deep .input-transaction .el-input__inner {
                    border: none;
                    height: 3rem;
                    background: #fff;
                    width: 100%;
                    border-radius: 4px;
                }

                ::v-deep .el-select-dropdown__item.hover,
                .el-select-dropdown__item:hover {
                    background: $baseColor;
                }

                ::v-deep .input-select .el-input__inner {
                    width: 7.5rem;
                    border: none;
                    height: 3rem;
                    color: #fff;
                    background: $baseColor;
                    border-radius: 0 4px 4px 0;

                    &::placeholder {
                        color: #fff;
                    }
                }
            }
        }

        .list {
            font-size: 0.9rem;
            margin: 1.25rem 0;
            padding: 0 0 0 1.5rem;
            color: #fff;

            li {
                line-height: 1.6rem;
            }
        }
    }

    .money-right {
        background-color: $contentColor;
        padding: 1.6rem;
        border-radius: 0.5rem;
        color: #fff;

        h2 {
            font-size: 1.1rem;
        }

        .divider {
            margin: 1rem 0;
            width: 100%;
            height: 4px;
            background: #a19b9b;
        }

        .column {
            font-size: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .column-left {
                margin-right: 5px;
            }
        }
    }
}

.flag-icon {
    margin-right: 6px;
}

.country-select {
    position: relative;

    .flag-icon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 6px;
    }
}

.usdt-inner {
    margin-right: 6px;
    width: 20px;
    height: 20px;
}

.usdt-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 6px;
}

.hadvalue .el-input__inner {
    padding-left: 40px;
}

.el-table__empty-block {
    background: $contentColor;

    .el-empty__description p {
        color: #fff;
    }
}

.el-select .el-input .el-select__caret {
    color: #000;
    font-weight: bold;
}
.el-tooltip__popper {
    width: 500px;
}
.down-a {
    padding: 4px 10px;
    color: #fff;
    text-decoration: none;
    background: $baseColor;
    border: 1px solid $baseColor;
    &:hover {
      color: $baseColor;
      background: #fff;
    }
  }